- name: Create AppImages directory if it does not exist
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/AppImages"
    state: directory

- name: Uninstall Warp AppImage
  file:
    path: "{{ ansible_user_dir }}/AppImages/warp.appimage"
    state: absent

- name: Install DevPod AppImage
  get_url:
    url: https://github.com/loft-sh/devpod/releases/latest/download/DevPod_linux_amd64.AppImage
    dest: "{{ ansible_user_dir }}/AppImages/devpod.appimage"
    force: false

- name: Install OpenCloud AppImage
  get_url:
    url: https://github.com/opencloud-eu/desktop/releases/download/v2.0.0/OpenCloud_Desktop-v2.0.0-linux-gcc-x86_64.AppImage
    dest: "{{ ansible_user_dir }}/AppImages/opencloud_desktop_desktop_sync_client.appimage"
    force: false
