- name: Include GitHub release version check
  ansible.builtin.include_tasks: common/github_release.yml
  vars:
    binary_name: distrobox
    repo: 89luca89/distrobox
    version_check_command: distrobox version
    version_pattern: ([0-9]+\.){3}[0-9]+

- name: Download and install distrobox
  when: current_distrobox_version | default('none') != distrobox_version
  become: true
  unarchive:
    src: "https://github.com/89luca89/distrobox/archive/refs/tags/{{ distrobox_version }}.tar.gz"
    dest: /usr/local/bin/
    remote_src: true
    extra_opts:
    # Skip the folder
    - --strip=1
    - --wildcards
    # The specific file(s) to extract
    - distrobox-{{ distrobox_version }}/distrobox*
