- name: Include GitHub release version check
  ansible.builtin.include_tasks: common/github_release.yml
  vars:
    binary_name: syncthing
    repo: syncthing/syncthing
    version_check_command: syncthing --version
    version_pattern: v([0-9]+\.){2}[0-9]+

- name: Download syncthing
  when: current_syncthing_version | default('none') != syncthing_version
  get_url:
    url: https://github.com/syncthing/syncthing/releases/download/{{ syncthing_version }}/syncthing-linux-{{ arch }}-{{ syncthing_version }}.tar.gz
    dest: /tmp/syncthing.tar.gz

- name: Extract and install syncthing
  when: current_syncthing_version | default('none') != syncthing_version
  become: true
  unarchive:
    src: /tmp/syncthing.tar.gz
    dest: /usr/local/bin/
    remote_src: true
    extra_opts:
    # Skip the folder
    - --strip=1
    # The specific file(s) to extract
    - syncthing-linux-{{ arch }}-{{ syncthing_version }}/syncthing

- name: Ensure user systemd folder
  file:
    path: /home/{{ ansible_user_id }}/.config/systemd/user
    state: directory

- name: Add systemd unit for syncthing
  copy:
    src: syncthing.service
    dest: /home/{{ ansible_user_id }}/.config/systemd/user/syncthing.service

- name: Enable syncthing service
  systemd:
    name: syncthing
    state: started
    enabled: true
    scope: user
