- name: Include GitHub release version check
  ansible.builtin.include_tasks: common/github_release.yml
  vars:
    binary_name: talosctl
    repo: siderolabs/talos
    version_check_command: talosctl version --client --short
    version_pattern: v([0-9]+\.){2}[0-9]+

- name: Download and install talosctl
  when: current_talosctl_version | default('none') != talosctl_version
  become: true
  get_url:
    url: "https://github.com/siderolabs/talos/releases/download/{{ talosctl_version }}/talosctl-linux-{{ arch }}"
    dest: /usr/local/bin/talosctl
    mode: "u=xrw,g=xr,o=x"
