- name: Set tilt_arch
  ansible.builtin.set_fact:
    tilt_arch: "{{ 'arm64' if ansible_architecture == 'aarch64' else 'x86_64' if ansible_architecture == 'x86_64' else ansible_architecture }}"

- name: Include GitHub release version check
  ansible.builtin.include_tasks: common/github_release.yml
  vars:
    binary_name: tilt
    repo: tilt-dev/tilt
    version_check_command: tilt version
    version_pattern: v([0-9]+\.){2}[0-9]+

- name: Download, extract and install tilt
  when: current_tilt_version | default('none') != tilt_version
  become: true
  unarchive:
    src: "https://github.com/tilt-dev/tilt/releases/download/{{ tilt_version }}/tilt.{{ tilt_version | replace('v', '') }}.linux.{{ tilt_arch }}.tar.gz"
    dest: /usr/local/bin/
    remote_src: true
