- name: Include GitHub release version check
  ansible.builtin.include_tasks: common/github_release.yml
  vars:
    binary_name: tpi
    repo: turing-machines/tpi
    version_check_command: tpi --version
    version_pattern: v([0-9]+\.){2}[0-9]+

- name: Download, extract and install tpi
  when: current_tpi_version | default('none') != tpi_version
  become: true
  unarchive:
    src: "https://github.com/turing-machines/tpi/releases/download/{{ tpi_version }}/tpi-{{ ansible_architecture }}-unknown-linux-gnu.tar.gz"
    dest: /usr/local/bin/
    remote_src: true
    extra_opts:
    - --strip-components=3
    # The specific file(s) to extract
    - ./usr/bin/tpi
