- name: Include GitHub release version check
  ansible.builtin.include_tasks: common/github_release.yml
  vars:
    binary_name: yamlfmt
    repo: google/yamlfmt
    version_check_command: yamlfmt -version
    version_pattern: v([0-9]+\.){2}[0-9]+

- name: Download, extract and install yamlfmt
  when: current_yamlfmt_version | default('none') != yamlfmt_version
  become: true
  unarchive:
    src: https://github.com/google/yamlfmt/releases/download/{{ yamlfmt_version }}/yamlfmt_{{ yamlfmt_version[1:] }}_Linux_{{ ansible_architecture }}.tar.gz
    dest: /usr/local/bin/
    remote_src: true
    extra_opts:
    # The specific file(s) to extract
    - yamlfmt
